.edit-button {
  padding: 8px;
  color: var(--theme-color-1);
  border: 2px solid var(--theme-color-1);
  background: transparent;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin-top: 16px;
}

.timeline-page-edit-button {
  height: 40px;
  width: fit-content;
  outline: none;
  border: none;
  padding: 8px;
  border-radius: 5px;
  color: var(--theme-color-1);
  cursor: pointer;
  background-color: var(--theme-color-6);
  transition: opacity 0.3s ease-out;
}
.timeline-page-edit-button:hover {
  opacity: 0.8;
}
.timeline-page-edit-button.delete {
  background-color: var(--theme-color-7);
}
