@use '../../../constants/mixins.scss' as *;

.title {
  font-weight: 400;
  font-size: 32px;
  margin: 0 auto;
}

.content {
  margin-top: 48px;

  @include flex(stretch, stretch, 16px, column);
}

.symbol {
  font-weight: 400;
}

.select {
  margin-left: 10%;
  border-radius: 5px;
  padding: 5px;
  width: 80%;
  outline: none;
}

.to {
  font-weight: 300;
}

.amount::-webkit-outer-spin-button,
.edit-input::-webkit-outer-spin-button,
.edit-input::-webkit-inner-spin-button .amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.amount {
  font-weight: 300;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  border: 0;
  margin-left: 8px;
  width: 80%;
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 28px;
  }

  .result {
    font-size: 32px;
  }
}
