@use '../../../constants/mixins.scss' as *;
@use '../../../constants/breakpoints';

.select {
  color: var(--theme-color-1);
  width: 22%;
  position: relative;
  text-wrap: nowrap;
  margin-left: 16px;
  cursor: pointer;
}

.field.up,
.field.down {
  font-size: 30px;
  font-weight: 400;
}
.field.up::after,
.field.down::after {
  content: '';
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  top: 30%;
  right: 10px;
  border-width: 0 3px 3px 0;
  border-color: var(--theme-color-4);
  border-style: solid;
  transition: transform 0.3s ease-out;
}
.field.up::after {
  transform: rotate(225deg);
}
.field.down::after {
  transform: rotate(45deg);
}

.pop {
  width: 100%;
  color: var(--theme-color-1);
  position: absolute;
  transition: transform 0.3s ease-out;
  border: 1px solid var(--theme-color-3);
  background-color: var(--background-color);
}

.option:hover {
  background-color: var(--theme-color-3);
}
.option {
  font-weight: 300;
  border-bottom: 1px solid var(--theme-color-3);
  padding: 8px;
  cursor: pointer;
}

.pop.enabled {
  transform: scaleX(1);
}

.pop.disabled {
  transform: scaleX(0);
}

@media screen and (max-width: breakpoints.$desktop-mini) {
  .field.up,
  .field.down {
    font-size: 26px;
  }
}

@media screen and (max-width: breakpoints.$tablet) {
  .field.up,
  .field.down {
    font-size: 24px;
  }
}

@media screen and (max-width: breakpoints.$mobile) {
  .select {
    width: 100%;
    margin: 0 auto;
  }
}
