html[data-theme="dark"] {
  --background-color: #030304;
  --text-color: #ffffff;
  --switcher-color: #ffffff;
  --banner-text-color: #d9d9d9;
  --footer-text-color: #898989;
}

html[data-theme="light"] {
  --background-color: #ffffff;
  --text-color: #030304;
  --switcher-color: #030304;
  --banner-text-color: #000000;
}

@mixin switcher($width, $height, $border-radius, $position) {
  width: $width;
  height: $height;
  border: 2px solid var(--switcher-color);
  border-radius: $border-radius;
  background-color: transparent;
  position: $position;
  transition:
    transform 0.5s ease-out,
    border 1s ease-out;
}

@mixin afterElement($width, $height, $background-color) {
  content: "";
  width: $width;
  position: absolute;
  height: $height;
  bottom: 0;
  left: 0;
  background-color: $background-color;
  transition: width 0.5s ease-out;
}

@mixin gradientText() {
  background: linear-gradient(90deg, #00ce2c 0.18%, #aedf23 49.3%, #a3dc00 99.88%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
