html[data-theme='dark'] {
  --background-color: #030304;
  --theme-color-1: #ffffff;
  --theme-color-2: #d9d9d9;
  --theme-color-3: #898989;
  --theme-color-4: #9e9e9e;
  --theme-color-5: #ff971d;
  --theme-color-6: #16c782;
  --theme-color-7: #ea3943;
  --logo-color: linear-gradient(
    90.18deg,
    #00ce2c 0.18%,
    #aedf23 49.3%,
    #a3dc00 99.88%
  );
  --banner-background-color: linear-gradient(
    0deg,
    #121212 11.77%,
    rgba(36, 121, 64, 0.18) 80.12%
  );
  --biggest-updated-circle-color: rgba(0, 188, 79, 0.02);
  --big-updated-circle-color: rgba(0, 188, 79, 0.4);
  --little-updated-circle-color: rgba(0, 188, 79, 1);
  --theme-color-8: #202025;
  --theme-color-9: #474747;
  --theme-color-10: #a7b2c3;
  --theme-color-11: #1b2028;
  --theme-color-12: rgba(3, 3, 4, 0.5);
  --error-message-color: #e01624;
  --theme-color-13: #607d94;
  --theme-color-14: rgba(0, 0, 0, 0.5);
}

html[data-theme='light'] {
  --background-color: #ffffff;
  --theme-color-1: #030304;
  --theme-color-2: #0d0d12;
  --theme-color-3: #404040;
  --theme-color-4: #323232;
  --theme-color-5: #ff971d;
  --theme-color-6: #16c782;
  --theme-color-7: #ea3943;
  --logo-color: linear-gradient(
    90.18deg,
    #00ce2c 0.18%,
    #aedf23 49.3%,
    #a3dc00 99.88%
  );
  --banner-background-color: linear-gradient(
    0deg,
    #f0e8e8 5.77%,
    rgba(33, 220, 96, 0.219) 80.12%
  );
  --biggest-updated-circle-color: rgba(0, 188, 79, 0.02);
  --big-updated-circle-color: rgba(0, 188, 79, 0.4);
  --little-updated-circle-color: rgba(0, 188, 79, 1);
  --theme-color-8: #ebebeb;
  --theme-color-9: #c3c0c0;
  --theme-color-10: #434b56;
  --theme-color-11: #f7f7f7;
  --theme-color-12: rgba(3, 3, 4, 0.5);
  --error-message-color: #e01624;
  --theme-color-13: #607d94;
  --theme-color-14: rgba(0, 0, 0, 0.5);
}
