@use '../../constants/mixins.scss' as *;
@use '../../constants/breakpoints';

.content {
  background-color: var(--background-color);
  color: var(--theme-color-1);
  transition: background-color 0.3s ease-out;
}

.information {
  @include flex(center, center, 32px);

  padding: 200px 0;
}

.title {
  font-size: 64px;
}

.contacts {
  @include flex(stretch, stretch, 8px, column);
}

.inf {
  font-weight: 300;
}

.informationPart {
  font-weight: 500;
}

@media screen and (max-width: breakpoints.$desktop-mini) {
  .information {
    flex-direction: column;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: breakpoints.$mobile) {
  .title {
    font-size: 56px;
  }
}
