@use '../../constants/themes.css' as *;

.timeline {
  padding: 64px 0;
  background: var(--background-color);
  .cardAndButtons {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-right: 80px;
    .buttons {
      display: flex;
      align-items: center;
      gap: 24px;
      .button {
        height: 40px;
        width: fit-content;
        outline: none;
        border: none;
        padding: 8px;
        border-radius: 5px;
        color: var(--primary-text-color);
        cursor: pointer;
      }
      .button.edit {
        background-color: var(--candlestick-green-color);
      }
      .button.remove {
        background-color: var(--candlestick-red-color);
      }
    }
  }
}

.chartWrapper {
  height: 40vh;
  position: relative;
}

@media screen and (max-width: 640px) {
  .cardAndButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
  }
}
