@use "../../constants/themes.css" as *;

.timeline {
  padding: 64px 0;
  background: var(--background-color);
  transition: background-color 0.3s ease-out;
  overflow: hidden;
}

.cardAndButtons {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 24px;
}

@media screen and (max-width: 640px) {
  .cardAndButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
  }
}
