@use '../../constants/mixins.scss' as *;

.currencies {
  font-weight: 300;
  background: var(--background-color);
  color: var(--theme-color-1);
  transition: background 0.3s ease-out;
}

.inner {
  padding: 64px 8px;
}

.title {
  font-size: 28px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--theme-color-10);
  width: 42%;
}

.cards {
  margin-top: 48px;

  @include flex(space-between, stretch, 32px 160px);

  flex-wrap: wrap;
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 28px;
  }
  .cards {
    gap: 32px 160px;
  }
}

@media screen and (max-width: 1024px) {
  .cards {
    gap: 32px 120px;
  }
  .title {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    width: 100%;
  }
}
