.select {
  color: #FFFFFF;
  font-family: "PoppinsMedium500";
  width: 22%;
  position: relative;
  text-wrap:nowrap;
  cursor: pointer;
}

.field {
  font-size: 30px;
  overflow: hidden;
  width: 85%;
}

.field::after {
  content: "";
  width: 12px;
  height: 12px;
  display: block;
  position: absolute; 
  top: 30%;
  right: 10px;
  border-width: 0 3px 3px 0;
  border-color: #ffffff;
  border-style: solid;
  transform: rotate(45deg);
}

.popEnabled {
  margin-top: 10px;
  width: 100%;
  color: #FFFFFF;
  position:absolute;
  font-family: "PoppinsLight300";
  transition: all 1s ease-out;
  border: 1px solid #FFFFFF;
  background-color: #000000;
}

.popDisabled {
  display: none;
}

.option {
  border-bottom: 1px solid #ffffff;
  padding: 5px;
  cursor: pointer;
}

.option:hover {
  background: blue;
}
