@use '../../constants/themes.css' as *;

.select {
  color: var(--primary-text-color);
  width: 22%;
  position: relative;
  text-wrap: nowrap;
  margin-left: 16px;
  cursor: pointer;
  .field.up, .field.down {
    font-size: 30px;
    font-weight: 400;
  }
  .field.up::after, .field.down::after {
    content: '';
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    top: 30%;
    right: 10px;
    border-width: 0 3px 3px 0;
    border-color: var(--arrow-color);
    border-style: solid;
    transition: transform 0.3s ease-out;
  }
  .field.up::after {
    transform: rotate(225deg);
  }
  .field.down::after {
    transform: rotate(45deg);
  }
  .pop {
    width: 100%;
    color: #ffffff;
    position: absolute;
    transition: transform 0.3s ease-out;
    border: 1px solid  var(--tertiary-text-color);
    background-color: var(--background-color);
    .option:hover {
      background-color: var(--tertiary-text-color);
    }
    .option {
      font-weight: 300;
      border-bottom: 1px solid var(--tertiary-text-color);
      padding: 8px;
      cursor: pointer;
    }
  }
  .pop.enabled {
    transform: scaleX(1);
  }
  .pop.disabled {
    transform: scaleX(0);
  }
}










