.container {
  height: 100vh;
  width: 100%;
  background-color: var(--theme-color-12);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-out;
}

.modal {
  box-shadow: 0 5px 25px var(--theme-color-14);
  transition:
    background-color 0.3s ease-out,
    box-shadow 0.3s ease-out;
  position: fixed;
  top: 30%;
  left: 30%;
  width: 40%;
  height: fit-content;
  background-color: var(--theme-color-8);
  border-radius: 8px;
  border: 1px solid var(--theme-color-9);
  color: var(--theme-color-1);
  padding: 64px 0;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.title {
  font-weight: 400;
  font-size: 32px;
  margin: 0 auto;
}

.content {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.symbol {
  font-weight: 400;
}

.amount::-webkit-outer-spin-button,
.amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.amount {
  font-weight: 300;
  outline: none;
  padding: 8px;
  border-radius: 5px;
  border: 0;
  margin-left: 16px;
  width: 80%;
}

.select {
  margin-left: 24px;
  border-radius: 5px;
  padding: 5px;
  width: 80%;
  outline: none;
}

.to {
  font-weight: 300;
}

.result {
  max-width: 80%;
  font-size: 36px;
  margin: 48px auto 0;
  font-weight: 400;
  text-align: center;
  overflow-x: scroll;
  overflow-y: hidden;
}

@media screen and (max-width: 1024px) {
  .modal {
    width: 50%;
    left: 26%;
    top: 25%;
  }

  .title {
    font-size: 28px;
  }

  .result {
    font-size: 32px;
  }
}

@media screen and (max-width: 768px) {
  .modal {
    width: 60%;
    left: 21%;
    top: 22%;
  }
}

@media screen and (max-width: 640px) {
  .modal {
    width: 80%;
    left: 10%;
    padding: 40px 0;
  }
}
