.modal {
  height: 100vh;
  width: 100vw;
  background-color: var(--modal-page-background);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .inner {
    width: 40%;
    height: 60%;
    background-color: var(--card-background);
    border-radius: 8px;
    border: 1px solid var(--card-border-color);
    color: var(--card-text);
    padding: 64px 48px;
    display: flex;
    flex-direction: column;
    .title {
      font-family: 'PoppinsRegular400';
      font-size: 32px;
      margin: 0 auto;
    }
    .text {
      font-family: 'PoppinsLight300';
      font-size: 24px;
    }
    .content {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      .symbol {
        font-family: 'PoppinsSemibold600';
      }
    }
    .result {
      font-size: 80px;
      margin: 64px auto 0;
      font-family: 'PoppinsLight300';
    }
  }
}
