@use '../../../constants/mixins.scss' as *;

.wrapper {
  height: 100%;
  width: 100%;
  background-color: var(--theme-color-12);
  position: fixed;
  top: 50px;

  @include flex(center, center);

  transition: background-color 0.3s ease-out;
}

.window {
  box-shadow: 0 5px 25px var(--theme-color-14);
  transition:
    background-color 0.3s ease-out,
    box-shadow 0.3s ease-out;
  position: fixed;
  width: fit-content;
  height: fit-content;
  background-color: var(--theme-color-8);
  border-radius: 8px;
  border: 1px solid var(--theme-color-9);
  color: var(--theme-color-1);
  padding: 48px 64px;
}

.inner {
  @include flex(stretch, center, 0, column);

  overflow: hidden;
}

@media screen and (max-width: 1280px) {
  .container {
    top: 60px;
  }

  .window {
    padding: 32px 48px;
  }
}
