@use '../../constants/constants.scss' as *;

.header {
  background-color: var(--background-color);
  position: sticky;
  color: var(--theme-color-1);
  font-weight: 300;
  transition:
    background 0.3s ease-out,
    box-shadow 0.3s ease-out;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}

.header.sticky {
  box-shadow: 0 5px 25px var(--theme-color-14);
}

.inner {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
}

.burger {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.part {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: var(--theme-color-1);
  top: 0;
  right: 0;
  transition: transform 0.3s ease-out;
}

.up {
  margin-top: 8px;
}

.down {
  margin-top: 16px;
}

.toLeft {
  transform: rotate(-45deg);
}

.part.toLeft,
.part.toRight {
  transition: transform 0.3s ease-out;
}

.toRight {
  transform: rotate(45deg);
}

.centerDisabled {
  display: none;
}

.centerEnabled {
  display: block;
}

.wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 80px;
  left: 0;
  background-color: var(--background-color);
  padding: 160px;
  z-index: 1000;
  transition: background-color 0.3s ease-out;
}

.menu {
  z-index: 10000;
}

.burgerInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.disabled {
  text-decoration: none;
  color: var(--theme-color-1);
  position: relative;
  font-size: 32px;
}
.disabled::after {
  @include afterElement(0, 2px, var(--theme-color-1));
}
.disabled:hover::after {
  width: 100%;
}
.disabled.active {
  padding-bottom: 5px;
}
.disabled.active::after {
  @include afterElement(100%, 2px, var(--theme-color-1));
}

.circle {
  @include switcher(50px, 26px, 15px, relative);
  display: block;
  cursor: pointer;
}

.circle:after {
  content: '';
  @include switcher(25px, 25px, 100%, absolute);
  top: -1.5px;
  left: -1.5px;
}

.switcher {
  width: 0;
  height: 0;
  visibility: hidden;
}

.switcher:checked + .circle:after {
  transform: translateX(100%);
}

@media screen and (max-width: 640px) {
  .wrapper {
    padding: 160px 110px;
  }
  .disabled {
    font-size: 30px;
  }
}
