@use '../../../constants/mixins.scss' as *;

.updated {
  padding-top: 72px;
  background-color: var(--background-color);
  font-weight: 300;
  width: 100%;

  @include flex(center, center, 16px);

  transition: background 0.3s ease-out;
}

.biggest {
  @include circle(50px, var(--biggest-updated-circle-color));

  @include blinking(0.02, 0.22);
}

.big {
  @include circle(33px, var(--big-updated-circle-color));
}

.little {
  @include circle(16px, var(--little-updated-circle-color));
}

.updatedText {
  color: var(--theme-color-2);
  font-size: 32px;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .updated {
    padding-top: 48px;
  }

  .updatedText {
    font-size: 26px;
  }
}

@media screen and (max-width: 768px) {
  .updatedText {
    font-size: 24px;
  }
}
