.wrapper {
  height: 100vh;
  width: 100%;
  background: var(--theme-color-12);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-out;
}

.window {
  position: fixed;
  top: 25%;
  left: 31%;
  padding: 24px 120px;
  width: 40%;
  background-color: var(--theme-color-8);
  border-radius: 10px;
  transition: background-color 0.3s ease-out;
  box-shadow: 0 5px 25px var(--theme-color-14);
  transition:
    background-color 0.3s ease-out,
    box-shadow 0.3s ease-out;
}

.inner {
  display: flex;
  flex-direction: column;
  color: var(--theme-color-1);
  align-items: center;
}

.title {
  font-size: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  gap: 8px;
}

.button {
  padding: 8px;
  color: var(--theme-color-1);
  border: 2px solid var(--theme-color-1);
  background: transparent;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.input {
  outline: none;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid var(--theme-color-9);
}

.window.remove {
  top: 40%;
}

@media screen and (max-width: 1280px) {
  .window {
    left: 32%;
    top: 22%;
  }
}

@media screen and (max-width: 1024px) {
  .window {
    top: 28%;
    left: 31%;
  }
  .form.edit {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px;
    gap: 8px;
  }
}

@media screen and (max-width: 768px) {
  .window {
    width: 50%;
    top: 30%;
    left: 25%;
  }
}

@media screen and (max-width: 640px) {
  .window {
    padding: 24px 64px;
    top: 25%;
    width: 60%;
    left: 21%;
  }
}
