@use '../../constants/constants.scss' as *;

footer {
  background: var(--background-color);
  color: var(--primary-text-color);
  transition: background 0.3s ease-out;
  .inner {
    display: flex;
    padding: 40px 0;
    gap: 105px;
    .left {
      width: 42%;
      line-height: 150%;
      .logo {
        display: flex;
        align-items: center;
        gap: 16px;
        .logoText {
          font-weight: 600;
          @include gradientText();
          font-size: 26px;
          position: relative;
          top: 5px;
        }
      }
      .text {
        font-weight: 300;
        font-size: 24px;
        line-height: 140%;
        margin-top: 24px;
      }
    }
    .right {
      width: 60%;
      display: flex;
      gap: 152px;
      font-weight: 400;
      .title {
        font-size: 28px;
      }
      .links {
        margin-top: 32px;
        display: flex;
        gap: 24px;
        flex-direction: column;
        .link {
          font-size: 24px;
          color: var(--tertiary-text-color);
          cursor: pointer;
        }
      }
    }
  }
}
.copyinfo {
  background-color: var(--background-color);
  font-weight: 400;
  color: var(--tertiary-text-color);
  margin-top: 56px;
  padding-bottom: 32px;
  text-align: center;
  font-size: 24px;
}
