@use '../../constants/constants.scss' as *;

.block {
  background-color: var(--background-color);
  transition: background-color 0.3s ease-out;
  padding-top: 104px;
}

.inner {
  font-weight: 400;
  color: var(--theme-color-1);
}

.title {
  font-weight: 400;
  font-size: 38px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 32px;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 26px;
  }
}
