.cross {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 40px;
  top: 40px;
  .crossPart {
    width: 20px;
    height: 2px;
    background-color: var(--theme-color-1);
    display: block;
    position: absolute;
  }
  .toLeft {
    transform: rotate(-45deg);
  }
  .toRight {
    transform: rotate(45deg);
  }
}
