@use '../../constants/constants.scss' as *;

.card {
  cursor: pointer;
  background-color: var(--card-background-color);
  padding: 32px;
  border: 1px solid var(--card-border-color);
  width: 42%;
  border-radius: 8px;
  .inner {
    display: flex;
    gap: 24px;
    .info {
      display: flex;
      flex-direction: column;
      .title {
        font-size: 35px;
        font-weight: 400;
        color: var(--card-text);
      }
      .rate {
        font-size: 32px;
        color: var(--card-number-color);
      }
    }
  }
}
