@use '../../constants/constants.scss' as *;

.banner {
  background: var(--background-color);
  transition: background 0.3s ease-out;
  .inner {
    display: flex;
    background: var(--banner-color);
    padding: 64px 328px 64px 88px;
    gap: 72px;
    position: relative;
    .left {
      padding-left: 32px;
      .title {
        font-weight: 600;
        @include gradientText();
        text-align: right;
      }
      .big {
        font-size: 90px;
      }
      .small {
        font-size: 76px;
      }
      .text {
        color: var(--secondary-text-color);
        font-weight: 300;
        font-size: 25px;
        text-align: center;
        line-height: 48px;
        position: absolute;
        width: 72%;
        margin-top: 16px;
      }
    }
  }
}
